* {
  padding: 0;
  margin: 0;
}
body {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.top,
.bottom {
  padding: 3.125rem;
  background-color: rgb(182, 177, 177);
}
.container {
  display: flex;
  flex-grow: 1;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}
.content-a {
  display: flex;
  background-color: green;
  flex-grow: 2;
  order: 2;
}
.content-b {
  display: flex;
  background-color: darkgreen;
  flex-grow: 1;
  order: 1;
}
.content-c {
  display: flex;
  background-color: yellow;
  flex-grow: 1;
  order: 3;
}
@media (max-width: 769px) {
  .top,
  .bottom {
    padding: 1.875rem;
  }
  .container {
    flex-wrap: wrap;
  }
  .content-a {
    order: 1;
    width: 100%;
  }
  .content-b {
    order: 2;
    width: 50%;
  }
  .content-c {
    order: 3;
    width: 50%;
  }
}
@media (max-width: 425px) {
  .top,
  .bottom {
    padding: 1.875rem;
  }
  .container {
    flex-direction: column;
  }
  .content-a {
    order: 1;
  }
  .content-b {
    width: 100%;
    order: 2;
  }
  .content-c {
    width: 100%;
    order: 3;
  }
}
