* {
  padding: 0;
  margin: 0;
}
body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  
}
.top,
.bottom {
  padding: 1rem;
  background-color: rgb(182, 177, 177);
}
.container {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  flex-grow: 1;
  display: flex;
}
.child1 {
  display: flex;
  flex-direction: column;
  flex-grow: 2;
}
.content-a {
  background-color: red;
  flex-grow: 1;
}
.content-b {
  background-color: orange;
  flex-grow: 1;
}
.child2 {
  background-color: yellow;
  flex-grow: 1;
  display: flex;
}
@media (max-width: 770px) {
  .child1 {
    flex-grow: 1;
  }
  .content-a,
  .content-b {
    flex-grow: 1;
  }
  .child2 {
    flex-grow: 1;
  }
  .top,
  .bottom {
    padding: 0.5rem;
  }
}
@media (max-width: 425px) {
  .container {
    flex-direction: column;
  }
  .child1 {
    flex-grow: 2;
  }

  .top,
  .bottom {
    padding: 0.5rem;
  }
}
